/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.trivia {
  display: grid;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
