/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {s
 * }
*/

.container {
  position: absolute;
  bottom: 20px;
  right: 10px;
  left: 10px;

  input[type='text'] {
    padding-right: 35px;
  }
}

.submit {
  margin-left: -30px;
}
